.footer
  margin: 0
  font-family: "Nunito", sans-serif

  &__content
    display: flex
    align-items: center
    flex-wrap: wrap
    background-color: #ECD48B
    margin: 0
    height: 270px

  &__logo
    margin-left: 201px
    margin-right: 510px

    p
      margin: 0
    .footer__logo-img
      width: 332px
      height: 111px

  &__info
    width: 430px
    height: 150px

    h3
      margin: 5px 0

    p
      margin: 2px 0

  &__copyright
    background-color: #6C3659
    color: #FFFFFF
    height: 54px
    margin: 0
    display: flex
    align-items: center


    p
      font-size: 20px
      margin: 0
    .footer__copyright-direitos
      margin-left: 201px
      margin-right: 420px
