.footer
  background-color: #d9b300 // Cor de fundo do footer
  color: white
  padding: 20px 0
  text-align: center

  &__content
    display: flex
    justify-content: space-around
    align-items: center
    flex-wrap: wrap

  &__logo
    h2
      font-size: 2rem
      color: #6b52ae // Cor da fonte do logo

    p
      font-size: 1rem
      color: #6b52ae // Cor da fonte da descrição

  &__info
    h3
      font-size: 1.5rem
      margin: 5px 0

    p
      font-size: 1rem
      margin: 2px 0

  &__copyright
    background-color: #6b52ae // Cor do fundo da seção de copyright
    padding: 10px 0

    p
      margin: 0
      font-size: 0.9rem
