<footer class="footer">
  <div class="footer__content">
    <div class="footer__logo">
      <img src="assets/Group 8.png" alt="Logo Quatro Patas" class="header__logo-img" />
    </div>
    <div class="footer__info">
      <h3>Quatro Patas Adoção de Animais</h3>
      <p>Rua das Oliveiras, 158 | Nova Floresta - São Paulo, SP</p>
      <p>13999-008</p>
      <p>(21) 9921-8282 ou (019) 9923-5050</p>
    </div>
  </div>
  <div class="footer__copyright">
    <p>Copyright 2022. Todos os direitos.</p>
    <p>Violência contra animais é crime. Denuncie 0800 600 6428</p>
  </div>
</footer>

