.rules
  text-align: left
  padding: 40px
  background-color: #e0f7fa // Fundo azul claro

  &__title
    font-family: "Amatic SC", sans-serif
    font-size: 3rem
    color: #6b52ae

  &__description
    font-size: 1.2rem
    margin: 20px 0
    line-height: 1.6
    color: #333

  &__list
    list-style-type: none
    padding: 0
    font-size: 1.1rem

    li
      margin-bottom: 10px

  &__footer
    font-size: 1.2rem
    margin-top: 20px
    color: #333
