<div class="rules">
  <h1 class="rules__title">Nossas Regras</h1>
  <p class="rules__description">
    Sem sombra de dúvidas queremos o <strong>melhor</strong> para os nossos peludinhos, portanto queremos esclarecer quais são os requisitos para você ter um novo membro na família:
  </p>
  <ul class="rules__list">
    <li><span><img src="assets/DogHand2x.png" alt="Icone de patinha" class="" /></span> Carinho e atenção não pode faltar;</li>
    <li><span><img src="assets/DogHand2x.png" alt="Icone de patinha" class="" /></span> Cuide de pulgas, carrapatos, entre outros parasitas;</li>
    <li><span><img src="assets/DogHand2x.png" alt="Icone de patinha" class="" /></span> Leve ao veterinário regularmente;</li>
    <li><span><img src="assets/DogHand2x.png" alt="Icone de patinha" class="" /></span> Mantenha as vacinas em dia, é importante para ele(a) e para você;</li>
    <li><span><img src="assets/DogHand2x.png" alt="Icone de patinha" class="" /></span> A castração é importante para prevenir doenças e a procriação.</li>
  </ul>
  <p class="rules__footer">Todo animal merece respeito &lt;3</p>
  <div class="rules__image">
    <img src="assets/RulesDog.png" alt="Imagem de carinho animal" class="rules_img"/>
  </div>
</div>

