.background
  background: repeating-linear-gradient(90deg, #ffffff, #ffffff 100px, lighten(#0893B9, 50%) 100px, lighten(#0893B9, 50%) 200px)
  padding: 20px
  display: flex
  justify-content: space-between
  align-items: center

.rules
  padding: 40px
  min-height: 100vh
  display: flex // Garante que o layout flex seja aplicado corretamente
  justify-content: space-between // Garante que o conteúdo tenha espaçamento entre si
  align-items: flex-start // Ajuste para o alinhamento vertical dos elementos internos
  margin-left: 254px

  &__title
    font-family: "Amatic SC", sans-serif
    font-size: 99px
    margin-bottom: 64px

  &__description
    font-size: 26px
    margin: 20px 0
    line-height: 35.46px
    width: 764px
    height: 114px
    margin-bottom: 54px

  &__list
    list-style-type: none
    padding: 0
    font-size: 26px
    font-family: "Nunito", sans-serif
    font-weight: 700
    width: 794px
    margin-bottom: 54px

    li
      margin-bottom: 10px

  &__footer
    font-size: 26px
    margin-top: 20px

  &__icon
    width: 30.04px
    height: 25.76px

  &__image
    img
      width: 100%
      height: auto
