<div class="home">
  <div>
    <h1 class="home__title">Procurando um novo amigo?</h1>
  <p class="home__description nunito-regular">
    A <span class="nunito-bold">Quatro Patas</span> pode ajudar nessa missão!
    Doguinhos e Gatinhos estão esperando para fazer você feliz!
    <br>Adote agora mesmo.
  </p>
  <div class="home__buttons">
    <button class="btn-adopt nunito-regular" routerLink="/pets">Adote agora</button>
    <button class="btn-rules nunito-regular" routerLink="/rules">Nossas Regras</button>
  </div>
  </div>
  <div class="home__image">
    <img src="assets/HomeDog.png" alt="Imagem de adoção" />
  </div>
</div>

