<div class="home">
  <h1 class="home__title">Procurando um novo amigo?</h1>
  <p class="home__description">
    A <span class="amatic-sc-bold">Quatro Patas</span> pode ajudar nessa missão!
    Doguinhos e Gatinhos estão esperando para fazer você feliz!
    Adote agora mesmo.
  </p>
  <div class="home__buttons">
    <button class="btn-adopt" routerLink="/pets">Adote agora</button>
    <button class="btn-rules" routerLink="/rules">Nossas Regras</button>
  </div>
  <div class="home__image">
    <img src="assets/HomeDog.png" alt="Imagem de adoção" />
  </div>
</div>

